/*-- scss:defaults --*/

// Base document colors
$body-bg: #f4f4f4;
$body-color: #524727;
$link-color: #C8102E;

// Navbar
$navbar-bg: #C8102E;
$navbar-fg: #ffffff;
$navbar-hl: #ffffff;

// Footer
$footer-bg: #C8102E;
$footer-fg: #ffffff;

// Code blocks
$code-block-bg-alpha: -.8;