/*-- scss:defaults --*/
// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: #F1BE48;
$navbar-bg: #F1BE48;
$navbar-fg: #C8102E;
$footer-bg: #F1BE48;
$footer-fg: #C8102E;

// Code blocks
$code-block-bg-alpha: -.8;